<ul id="tree-menu">
    <li><a href="#">A-Z Directory of Services</a>
    </li>
    <li><a href="#">Research &amp; Clinical Trials</a>
    </li>
    <li class="open-wrap">
        <span class="open">Cancer</span>
        <ul>
            <li>
                <span class="open">Comprehensive OB Services</span>
                <ul>
                    <li><a href="#">Birthing Center</a>
                    </li>
                    <li><a href="#">Prenatal Center</a>
                    </li>
                    <li><a href="#">Reproductive Health</a>
                    </li>
                    <li><a href="#">Breastfeeding Supply Store</a>
                    </li>
                    <li><a href="#">Prenatal Clinic</a>
                    </li>
                    <li><a href="#">Our Physicians</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Urogynecology &amp; Pelvis Floor</a>
            </li>
            <li><a href="#">Breast Health</a>
            </li>
            <li><a href="">Women's Surgery Center</a>
            </li>
        </ul>
    </li>
    <li><a href="#">Comprehensive Medicine &amp; Primary Care</a>
    </li>
    <li><a href="#">Heart &amp; Vascular</a>
    </li>
    <li><a href="#">Orthopaedics &amp; Sports Medicine</a>
    </li>
    <li><a href="#">Spine Institute</a>
    </li>
    <li><a href="#">Surgical Services</a>
    </li>
    <li>
        <span class="closed">Women's Health</span>
        <!-- <ul>
            <li>

                <span>Comprehensive OB Services</span>
                <ul>
                    <li><a href="#">Birthing Center</a>
                    </li>
                    <li><a href="#">Prenatal Center</a>
                    </li>
                    <li><a href="#">Reproductive Health</a>
                    </li>
                    <li><a href="#">Breastfeeding Supply Store</a>
                    </li>
                    <li><a href="#">Prenatal Clinic</a>
                    </li>
                    <li><a href="#">Our Physicians</a>
                    </li>
                </ul>
            </li>

            <li><a href="#">Urogynecology &amp; Pelvis Floor</a>
            </li>
            <li><a href="#">Breast Health</a>
            </li>
            <li><a href="">Women's Surgery Center</a>
            </li>
        </ul> -->
    </li>
    <li><a href="#">Additional Services</a>
    </li>
    <li><a href="">Healthcare Business Solutions</a>
    </li>
</ul>
