<div class="one-half content-column">
    <header>
        <a href="#" class="video-thumb">
            <img src="/assets/img/home/tab_skier.jpg" alt="One Man's Journey Back to the Slopes">
            <span class="mask"></span>
            <span class="visually-hidden">Play</span>
            <span aria-hidden="true" class="play-button"></span>
        </a>
        <h1>One Man's Journey Back to the Slopes</h1>
    </header>

    <a href="/" class="button orange">Watch His Story</a>
    <span class="or-watch-more">Or watch more <a href="/">Success Stories</a></span>
</div>
<div class="one-fourth dive-deeper-column search-network">
    <header>
        <img src="/assets/img/home/tab_foundation.jpg" Alt="The Christ Hospital Foundation">
        <h1>The Christ Hospital Foundation</h1>
    </header>
    <p>Our goal is to make a lasting impact on healthcare in the Greater Cincinnati region through contributions from individuals, corporations and foundations to The Christ Hospital Foundation.</p>
    <a href="/" class="button dark">The Impact of Giving</a>
</div>
<div class="one-fourth links-column physician-quick-links">
    <section class="all-resources hide-desktop">
        <a href="/" class="button orange">All Community Resources</a>
    </section>
    <div class="hide-mobile">
        <header>
            <h1>Community Links</h1>
        </header>
        <ul class="quick-links">
            <li><a href="/">News &amp; Community</a></li>
            <li><a href="/">Newsletters &amp; Magazine</a></li>
            <li><a href="/">Ways to Give</a></li>
            <li><a href="/">Outreach &amp; Partnerships</a></li>
            <li><a href="/">Support Resources</a></li>
        </ul>
        <ul class="extra-links">
            <li><a href="/">Facebook</a></li>
            <li><a href="/">Instagram</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
