<div class="one-half content-column message-experts">
    <form method="post" action="/">
        <header>
            <h2>Questions?</h2>
            <h1>Contact one of our experts</h1>
        </header>
        <label for="txtMessage" class="visually-hidden">Type your message here</label>
        <textarea id="txtMessage" rows="5" placeholder="Type your message here"></textarea>
        <button type="submit" class="button orange">Send Your Question</button>
        <span class="or-call">Or call <strong>(513) 585-2000</strong></span>
    </form>
    <p class="disclaimer">LEGAL DISCLAIMER TEXT: Lorem ipsum dolor sit amet, neque semper in ut in elementum sem, mus lectus montes iaculis cras ligula wisi, amet erat rhoncus.</p>
</div>
<div class="one-fourth dive-deeper-column find-physician">
    <form method="post" action="/">
        <header>
            <h1>Find a Physician</h1>
        </header>

        <!-- Search Our Physicians -->
        <label for="txtSearchPhysicians" class="visually-hidden">Search Our Physicians</label>
        <div class="input-button-pair">
            <div class="right">
                <button type="submit" class="button dark icon-button">
                    <span aria-hidden="true" class="icon icon-search"></span>
                    <span class="visually-hidden">Search</span>
                </button>
            </div>
            <div class="left">
                <input type="text" id="txtSearchPhysicians" placeholder="Search Our Physicians">
            </div>
        </div>
        <span class="hr-text">or</span>

        <!-- Find by Location -->
        <label for="ddlPhysiciansByLocation" class="visually-hidden">Find by location</label>
        <select id="ddlPhysiciansByLocation" class="styled-dropdown">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <!-- Find by Specialty -->
        <label for="ddlPhysiciansBySpecialty" class="visually-hidden">Find by Specialty</label>
        <select id="ddlPhysiciansBySpecialty" class="styled-dropdown">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>
        <span class="browse-physician-directory">Or browse our <a href="/">Alphabetic Directory</a></span>
    </form>
    <hr>
    <section class="patient-requests">
        <header>
            <h1>How To</h1>
        </header>
        <a href="/" class="button dark">Request an Appointment</a>
        <a href="/" class="button dark">Request a Referral</a>
    </section>
</div>
<div class="one-fourth links-column patient-quick-links">
    <section class="all-resources hide-desktop">
        <a href="/" class="button orange">All Patient Resources</a>
    </section>
    <div class="hide-mobile">
        <header>
            <h1>Patient Quick Links</h1>
        </header>
        <ul class="quick-links">
            <li><a href="/">All Patient Resources</a></li>
            <li><a href="/">Log into MyChart</a></li>
            <li><a href="/">Pay My Bill</a></li>
            <li><a href="/">Health Library</a></li>
        </ul>
        <ul class="extra-links">
            <li><a href="/">Insurance Information</a></li>
            <li><a href="/">Financial Assistance</a></li>
            <li><a href="/">Request your Medical Records</a></li>
            <li><a href="/">Pharmacy</a></li>
            <li><a href="/">Phone Directory</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
