<div class="one-half content-column">
    <header>
        <h2>Introducing</h2>
        <h1>Our Leadership Expansion Into Green Township</h1>
    </header>
    <div class="leadership clear">
        <div class="one-half">
            <figure>
                <img src="/assets/img/home/tab_doc1.jpg" alt="Rachel Bolan, MD">
                <figcaption>
                    <h1>Rachel Boland, MD</h1>
                    <h2>Internal Medicine</h2>
                </figcaption>
            </figure>
        </div>
        <div class="one-half">
            <figure>
                <img src="/assets/img/home/tab_doc2.jpg" alt="Sheena Boury, MD">
                <figcaption>
                    <h1>Sheena Boury, MD</h1>
                    <h2>Family Medicine</h2>
                </figcaption>
            </figure>
        </div>
    </div>

    <a href="/" class="button orange">Meet Our Newest Additions</a>
</div>
<div class="one-fourth dive-deeper-column search-network">
    <form method="post" action="/">
        <header>
            <h1>Search Our Network</h1>
        </header>

        <!-- Find a Location -->
        <label for="ddlFindALocation" class="visually-hidden">Find a location</label>
        <select id="ddlFindALocation" class="styled-dropdown">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <!-- Find a Service -->
        <label for="ddlFindAService" class="visually-hidden">Find a service</label>
        <select id="ddlFindAService" class="styled-dropdown">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <!-- Find a Specialty -->
        <label for="ddlFindASpecialty" class="visually-hidden">Find a specialty</label>
        <select id="ddlFindASpecialty" class="styled-dropdown">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <!-- Find a Physician -->
        <div class="styled-dropdown">
            <span class="label">Find a physician</span>
            <div class="dropdown-content">
                <label for="txtSearchPhysicians" class="visually-hidden">Search Our Physicians</label>
                <div class="input-button-pair">
                    <div class="right">
                        <button type="submit" class="button dark icon-button">
                            <span aria-hidden="true" class="icon icon-search"></span>
                            <span class="visually-hidden">Search</span>
                        </button>
                    </div>
                    <div class="left">
                        <input type="text" id="txtSearchPhysicians" placeholder="Search Our Physicians">
                    </div>
                </div>
                <span class="browse-physician-directory">Or browse our <a href="/">Alphabetic Directory</a></span>
            </div>
        </div>
    </form>
</div>
<div class="one-fourth links-column physician-quick-links">
    <section class="all-resources hide-desktop">
        <a href="/" class="button orange">All Physician Resources</a>
    </section>
    <div class="hide-mobile">
        <header>
            <h1>Physician Quick Links</h1>
        </header>
        <ul class="quick-links">
            <li><a href="/">MyChart Login</a></li>
            <li><a href="/">Lindner Research Center</a></li>
            <li><a href="/">Continuing Medical Education</a></li>
            <li><a href="/">Residency / Fellowships</a></li>
            <li><a href="/">Clinically Integrated Network</a></li>
            <li><a href="/">Medical Staff News</a></li>
        </ul>
        <ul class="extra-links">
            <li><a href="/">Physician Retirement &amp; Recruiting</a></li>
            <li><a href="/">College of Nursing</a></li>
            <li><a href="/">Patient One-Call</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
