<div class="row contact-us">
    <!-- START GENERAL PAGE CONTENT -->
    <section class="two-third">
        <header class="visually-hidden">
            <h1>Contact Us</h1>
        </header>
        <p>Your Name Here,</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat eu purus ut dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ullamcorper volutpat enim vel tristique. Nulla ullamcorper tempus risus, vitae luctus est convallis ut. Aliquam dapibus orci libero, in viverra nunc malesuada a. Donec semper nunc nec dapibus placerat. Pellentesque ultricies est id pharetra luctus. Cras vel lectus at lorem congue accumsan sit amet eget neque. Nam suscipit ut dolor vel lobortis. Sed vestibulum massa at nulla consectetur mollis auctor a augue. Vestibulum non ipsum sit amet libero tristique ultricies. Sed varius convallis ultricies. Nunc eleifend magna urna, sit amet blandit est pulvinar facilisis.</p>
        <p>Thank you,<br />
            The Christ Hospital Health Network
        </p>
        <p class="disclaimer">Because each individual's medical situation depends upon that individual's own specific medical history and circumstances, we cannot respond to specific issues about your medical conditions. You should consult a health care provider who knows you.</p>
        <hr>

    <h3>Healthcare Updates Delivered</h3>
     <p>It's Easy to stay up to date on current healthcare developments at The Christ Hospital Health Network.  Please take a moment to sign up for any of our newsletter or eMagazines that interest you.</p>

        <form style="margin-top:30px;">

            <input id="tchhn" type="checkbox" />
            <label class="checkboxlabel" for="tchhn"><span>TCHHN eMAGAZINE</span><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat eu purus ut dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ullamcorper volutpat enim vel tristique. Nulla ullamcorper tempus risus, vitae luctus est convallis ut.</label>
            <input id="h2h" type="checkbox" />
            <label class="checkboxlabel" for="h2h"><span>TCHHN eMAGAZINE</span><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat eu purus ut dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ullamcorper volutpat enim vel tristique. Nulla ullamcorper tempus risus, vitae luctus est convallis ut.</label>
            <input type="submit" class="button orange" value ="Sign Up" />


        </form>


    </section>
    <!-- END GENERAL PAGE CONTENT -->

    <!-- START RESOURCES -->
    <aside class="one-third resources">
        <a href="/" class="resource-button orange">
            <img src="/assets/img/location/content_find_physician.png" alt="Looking for a physician?">
            <button class="label">Find a Physician</button>
        </a>
        <a href="/" class="resource-button grey">
            <img src="/assets/img/location/content_find_location.jpg" alt="Find a location">
            <button class="label">Find a Location</button>
        </a>
        <a href="/" class="resource-button blue">
            <h1 class="title">Help when you need it</h1>
            <h2 class="subtitle">Health Library</h2>
            <p class="description">Find information on diseases, treatments, medication and medical devices.</p>
            <button class="label">Search the Library</button>
        </a>
        <hr>
        <div class="heading-with-sub">
            <h1>Online Medical Records</h1>
            <h2>Login to MyChart</h2>
        </div>
        <span class="or-create-account">
            or <a href="/">Create An Account</a>
        </span>
        <hr>
    </aside>
    <!-- END RESOURCES -->
</div>
<div class="clear"></div>
