<div class="row contact-us">
    <!-- START GENERAL PAGE CONTENT -->
    <section class="two-third">
        <header class="visually-hidden">
            <h1>Contact Us</h1>
        </header>
        <form id="contact-form">
            <ul class="form-list">
                <li class="clear">
                    <label for="fullname">Full Name</label>
                    <input type="text" id="fullname" name="fname" />
                </li>
                <li class="clear">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email" />
                </li>
                <li class="clear">
                    <label for="">I have a Question/Comment About</label>
                    <label class="visually-hidden" for="subject">Choose Your Message Subject</label>
                    <select id="subject" class="styled-dropdown">
                        <option>Physicians</option>
                        <option>Services</option>
                        <option>Locations</option>
                        <option>Insurance</option>
                        <option>Career Opportunities</option>
                    </select>
                </li>
                <li class="clear">
                    <label for="comment">Your Comments/Questions</label>
                    <textarea id="comment"></textarea>
                </li>
                <li class="clear">
                    <input type="submit" class="button orange" value="Send Your Message">
                </li>
            </ul>
             </form>

            <p class="disclaimer">Because each individual's medical situation depends upon that individual's own specific medical history and circumstances, we cannot respond to specific issues about your medical conditions. You should consult a health care provider who knows you.</p>
            <hr>

            <h3>If You Need Immediate Assistance, Call Us</h3>
            <p>Additional numbers can be found in the <a href="#">phone directory</a>.</p>
            <div class="one-third directory">
                <ul>

                    <li>Patient Information</li>
                    <li>Billing Inquiries</li>
                    <li>Scheduling (for tests)</li>
                    <li>Physician Referral</li>
                </ul>

            </div>
            <div class="one-third phone">
                <ul>
                    <li>513-585-2215</li>
                    <li>513-585-2215</li>
                    <li>513-585-2215</li>
                    <li>513-585-2215</li>
                </ul>
            </div>
    </section>
    <!-- END GENERAL PAGE CONTENT -->

    <!-- START RESOURCES -->
    <aside class="one-third resources">
        <a href="/" class="resource-button orange">
            <img src="/assets/img/location/content_find_physician.png" alt="Looking for a physician?">
            <button class="label">Find a Physician</button>
        </a>
        <a href="/" class="resource-button grey">
            <img src="/assets/img/location/content_find_location.jpg" alt="Find a location">
            <button class="label">Find a Location</button>
        </a>
        <a href="/" class="resource-button blue">
            <h1 class="title">Help when you need it</h1>
            <h2 class="subtitle">Health Library</h2>
            <p class="description">Find information on diseases, treatments, medication and medical devices.</p>
            <button class="label">Search the Library</button>
        </a>
        <hr>
        <div class="heading-with-sub">
            <h1>Online Medical Records</h1>
            <h2>Login to MyChart</h2>
        </div>
        <span class="or-create-account">
            or <a href="/">Create An Account</a>
        </span>
        <hr>
    </aside>
    <!-- END RESOURCES -->
</div>
<div class="clear"></div>
