<!-- START FULL WIDTH CONTENT -->
<section class="row content">

<ul class="header-links hide-desktop">
	<li><img src="/assets/img/icons/Physician-icon.png" alt=""> <a href="#">Find a Physician</a></li>
	<li><img src="/assets/img/icons/locations-icon.png" alt=""><a href="#">Find a Location</a></li>
</ul>
    <div class="home-content clear">
        <div class="find hide-mobile">
            <h2>Find a Physician</h2>
            <ul class="form-list">
                <li class="clear">
                   <input type="text" id="txtSearchPhysicians" placeholder="Search by Name">
                </li>
                <li class="clear">
                    <label for="ddlPhysiciansByLocation" class="visually-hidden">Search by Specialty</label>
                    <select id="ddlPhysiciansByLocation" class="styled-dropdown">
                        <option>Lorem ipsum dolor sit amet dolor sit amet</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </li>
                <li class="clear geo">
                   <input type="text" id="txtSearchPhysicians" class="zip" placeholder="Search by Zip"><span class="near-me"> - OR - <a href="#">Near Me</a></span>
                </li>
                <li class="clear">
                    <form>
                        <button class="button orange search">Search</button>
                    </form>
                    <a href="#" class="browse">Advanced Search</a>
                </li>
            </ul>
			<h2>Find a Location</h2>
            <ul class="form-list">
                <li class="clear">
                    <label for="ddlPhysiciansByLocation" class="visually-hidden">Search by Type</label>
                    <select id="ddlPhysiciansByLocation" class="styled-dropdown">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </li>
                <li class="clear geo">
                   <input type="text" id="txtSearchPhysicians" class="zip" placeholder="Search by Zip"><span class="near-me"> - OR - <a href="#">Near Me</a></span>
                </li>
                <li class="clear">
                    <form>
                        <button class="button orange search">Search</button>
                    </form>
                     <a href="#" class="browse">Advanced Search</a>
                </li>
            </ul>
        </div>

        <div class="headlines">
            <h2>Making Headlines</h2>
            <div class="blurb">
                <a href="#"><img src="assets/img/home/blurb1.png" alt="" class="hide-mobile"></a>
                <a href="#"><img src="assets/img/home/blurb1-lg.png" alt="" class="hide-desktop"></a>
                <div class="blurb-text">
                    <a href="#" class="title">Heart Health</a>
                    <span class="date">July 12, 2014</span>
                    Groundbreaking telemedicine study remotely connects heart failure patients with cardiologists right from the comfort of the patient’s home. <a href="">more . . .</a></div>
            </div>
            <div class="blurb">
                <img src="assets/img/home/blurb2.png" alt="" class="hide-mobile">
                <img src="assets/img/home/blurb2-lg.png" alt="" class="hide-desktop">
                <div class="blurb-text">
                    <a href="#" class="title">Improving the Birth Experience</a>
                    <span class="date">July 12, 2014</span>
                    Birthing Center improves Cesarean birth experience with Gentle C-Section. Promotes immediate skin-to-skin contact and parental bonding. <a href="">more . . .</a></div>
            </div>
        </div>

        <div class="links clear">
            <h2 class="hide-mobile">Quick Links</h2>

            <ul>
                <li class="clear">
                    <img src="assets/img/icons/heart.png" alt=""><a href="#">All Patient Resources</a>
                </li>
                <li class="clear">
                    <img src="assets/img/icons/chart.png" alt=""><a href="#">Log into MyChart</a>
                </li>
                <li class="clear">
                    <img src="assets/img/icons/credit-card.png" alt=""><a href="#">Pay My Bill</a>
                </li>
                <li class="clear">
                    <img src="assets/img/icons/phone.png" alt=""><a href="#">Phone Directory</a>
                </li>
            </ul>

            <ul>
                <li class="clear"><a href="#">Insurance Information</a>
                </li>
                <li class="clear"><a href="#">Financial Assistance</a>
                </li>
                <li class="clear"><a href="#">Request Your Medical Records</a>
                </li>
                <li class="clear"><a href="#">Pharmacy</a>
                </li>
            </ul>
        </div>
        
        <div class="clear"></div>
    </div>
</section>
