<div class="container location-landing">
    <!-- START GENERAL PAGE CONTENT -->
    <section class="one-half">
        <h1>Healthcare In Your Neighborhood</h1>
        <div class="icon-attach clear">
            <input type="text" id="txtSearchLocations" placeholder="Search Our Locations" class="search-locations">
            <div class="input-button-pair zip-search">
                <div class="right">
                    <button type="submit" class="button grey icon-button">
                        <span aria-hidden="true" class="icon icon-search"></span>
                        <span class="visually-hidden">Search</span>
                    </button>
                </div>
                <div class="left">
                    <input type="text" id="txtSearchLocations" placeholder="Zip Code" class="hidden">
                </div>
            </div>

            <p class="current-location"><a href="#">use current location</a>
            </p>

            <label for="ddlPhysiciansBySpecialty" class="visually-hidden">Search by Specialty</label>
            <select id="ddlPhysiciansBySpecialty" class="styled-dropdown search-specialty">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
            <div class="button-wrap">
                <button class="button orange">Search</button>
            </div>
    </section>
    <section class="one-half photo-cell hide-mobile">
        <img src="/assets/img/physician-search/page-bg.jpg" alt="">
    </section>
    </div>
    <!-- END GENERAL PAGE CONTENT -->

</div>
<div class="clear"></div>
