<div class="container physician-landing">
    <!-- START GENERAL PAGE CONTENT -->
    <section class="one-half">
        <h1>500+ Physicians at your fingertips</h1>
        <p class="icon-attach">
            <div class="input-button-pair">
                    <div class="right">
                        <button type="submit" class="button grey icon-button">
                            <span aria-hidden="true" class="icon icon-search"></span>
                            <span class="visually-hidden">Search</span>
                        </button>
                    </div>
                    <div class="left">
                        <input type="text" id="txtSearchPhysicians" placeholder="Name, Specialty, or Condition" class="hidden">
                    </div>
                </div>
        <div class="advanced-search clear">
            <h2>Advanced Search</h2>

            <div class="one-half">
                <h3>Search by Service/Specialty</h3>
                <label for="ddlPhysiciansByCategory" class="visually-hidden">Search by Category</label>
                <select id="ddlPhysiciansByCategory" name="Category" class="styled-dropdown">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                     <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                     <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                     <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>

                <label for="ddlPhysiciansByLocation" class="visually-hidden">Search by Specialty</label>
                <select id="ddlPhysiciansByLocation" class="styled-dropdown">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>

                <div class="clear geo">
                   <input type="text" id="txtSearchPhysicians" class="zip" placeholder="Search by Zip"><span class="near-me"> - OR - <a href="#">Near Me</a></span>
                </div>
            </div>

            <div class="one-half">
                <h3>Search by Name</h3>
                <input type="text" placeholder="Doctor's Name">

                <div class="last-name">
                    <h3>Search by First Letter of Last Name</h3>
                    <ul>
                        <li><a href="#">A</a>
                        </li>
                        <li><a href="#">B</a>
                        </li>
                        <li><a href="#">C</a>
                        </li>
                        <li><a href="#">D</a>
                        </li>
                        <li><a href="#">E</a>
                        </li>
                        <li><a href="#">F</a>
                        </li>
                        <li><a href="#">G</a>
                        </li>
                        <li><a href="#">H</a>
                        </li>
                        <li><a href="#">I</a>
                        </li>
                        <li><a href="#">J</a>
                        </li>
                        <li><a href="#">K</a>
                        </li>
                        <li><a href="#">L</a>
                        </li>
                        <li><a href="#">M</a>
                        </li>
                        <li><a href="#">N</a>
                        </li>
                        <li><a href="#">O</a>
                        </li>
                        <li><a href="#">P</a>
                        </li>
                        <li><a href="#">Q</a>
                        </li>
                        <li><a href="#">R</a>
                        </li>
                        <li><a href="#">S</a>
                        </li>
                        <li><a href="#">T</a>
                        </li>
                        <li><a href="#">U</a>
                        </li>
                        <li><a href="#">V</a>
                        </li>
                        <li><a href="#">W</a>
                        </li>
                        <li><a href="#">X</a>
                        </li>
                        <li><a href="#">Y</a>
                        </li>
                        <li><a href="#">Z</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <button class="button orange">Search</button>
        </p>
    </section>
    <section class="one-half photo-cell hide-mobile">
        <img src="/assets/img/physician-landing/page-bg.jpg" alt="">
    </section>
</div>
<!-- END GENERAL PAGE CONTENT -->

</div>
<div class="clear"></div>
