<div class="physician-landing">
    <img class="hide-desktop" src="/assets/img/physician-landing/search-bg-small.jpg">
    <div class="search-box">
        <h1>500+ Physicians at your Fingertips</h1>
        <div class="input-button-pair">
            <div class="right">
                <button type="submit" class="button orange icon-button">
                    <span aria-hidden="true" class="icon icon-search"></span>
                    <span class="visually-hidden">Search</span>
                </button>
            </div>
            <div class="left">
                <input type="text" id="txtSearchPhysicians" placeholder="Search Our Physicians">
            </div>
        </div>
        <a id="physicians-near-me" class="button orange icon-crosshairs">Physicians Near Me</a>
        <section class="find-by-name">
            <hr>
            <header class="nameheader">OR FIND BY NAME</header>
            <a href="#" class="button orange">A - C</a>
            <a href="#" class="button orange">D - F</a>
            <a href="#" class="button orange">G - I</a>
            <a href="#" class="button orange">J - L</a>
            <a href="#" class="button orange">M - O</a>
            <a href="#" class="button orange">P - S</a>
            <a href="#" class="button orange">T - V</a>
            <a href="#" class="button orange">W - Z</a>
        </section>
    </div>
</div>
