<div class="row">
    <!-- START GENERAL PAGE CONTENT -->
    <div class="corner-cut">
        <img class="full-width-image" src="/assets/img/network/network-hero.jpg">
    </div>
    <div class="two-third">
        <header class="visually-hidden">
            <h1>About The Network</h1>
        </header>
        <h4>ON A MISSION TO CREATE AN EXTRAORDINARY PATIENT EXPERIENCE</h4>
        <p>At The Christ Hospital Network, we begin with the individual. Each patient who trusts us with their health finds a network of providers who care for them with excellence and compassion. This focus on a patient experience that's confident in clinical excellence is why we've been ranked the #1 Best Hospital in Cincinnati and recognized by U.S. News and World Report as one of America's best for 14 consecutive years.</p>
        <a href="#" class="button blue" >Our Heritage</a>
        <hr>
        <h2>Awards And Recognition</h2>
        <section class="network-awards">
            <div class="row spacing-bottom">
                <div class="one-fourth"><img src="/assets/img/network/top50.png" /></div>
                <div class="three-fourth"><h3><a href="#">THE 50 TOP CARDIOVASCULAR HOSPITALS</a></h3><p>The Christ Hospital has been named one of the nation's 50 Top Cardiovascular Hospitals by Truven Health Analytics. This is the 9th time we've been recognized with this honor.</p></div>
                <div class="clear"></div>
            </div>
            <div class="row spacing-bottom">
                <div class="one-fourth"><img src="/assets/img/network/best-hospital.png" /></div>
                <div class="three-fourth"><h3><a href="#">AMERICA'S BEST HOSPITALS</a></h3><p>U.S. News and World Report consistently recognizes The Christ Hospital as one of the country's top 50. In 2013, we received honors for Diabetes & Endocrinology, Geriatrics and Orthopedics.</p></div>
                <div class="clear"></div>
            </div>
        </section>
    </div>
    <!-- END GENERAL PAGE CONTENT -->

    <!-- START RESOURCES -->
    <aside class="one-third resources">
        <a href="/" class="resource-button orange">
            <img src="/assets/img/location/content_find_physician.png" alt="Looking for a physician?">
            <button class="label">Find a Physician</button>
        </a>
        <a href="/" class="resource-button blue">
            <h1 class="title">Help when you need it</h1>
            <h2 class="subtitle">Health Library</h2>
            <p class="description">Find information on diseases, treatments, medication and medical devices.</p>
            <button class="label">Search the Library</button>
        </a>
        <hr>
        <div class="heading-with-sub">
            <h1>Online Medical Records</h1>
            <h2>Login to MyChart</h2>
        </div>
        <span class="or-create-account">
            or <a href="/">Create An Account</a>
        </span>
        <hr>
    </aside>
    <!-- END RESOURCES -->
</div>
<div class="clear"></div>
