{% extends 'layouts/interior--3-column.html' %}
{% set script_component = 'community' %}
{% set body_class = 'body-community' %}
{% set current_section = 'newscommunity' %}

{% block head %}
<link rel="stylesheet" href="/assets/css/vendor/jquery.isotope.css">

{% endblock %}

{% block breadcrumbs %}
{% include 'partials/newscommunity/common/breadcrumbs.html' with { selected: "What's Happening Now" } %}
{% endblock %}

{% block navigation %}
{% include 'partials/newscommunity/common/navigation.html' with { selected: "What's Happening Now" } %}
{% endblock %}

{% block sidebar %}
{% include 'partials/newscommunity/common/sidebar.html' with { selected: "What's Happening Now" } %}
{% endblock %}

{% block header %}
<header class="page-title heading-with-sub">
  <h1>News &amp; Community</h1>
  <h2>What's Happening Now</h2>
</header>
{% endblock %}

{% block primary_content %}
{% include 'partials/newscommunity/whatshappeningnow/social_grid.html' %}
{% endblock %}

{% block scripts %}
<!-- <script src="/js/vendor/jquery.uTabs.js"></script>
<script src="/js/vendor/jquery.isotope.js"></script>
<script src="/js/vendor/jquery.isotope.masonryGutters.js"></script> -->
<!--script src="/js/app.min.js"></script-->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}