{% extends 'layouts/interior.html' %}
{% set current_section = 'newscommunity' %}

{% block breadcrumbs %}
{% include 'partials/newscommunity/common/breadcrumbs.html' with { selected: "Event Details" } %}
{% endblock %}

{% block navigation %}
{% include 'partials/newscommunity/common/navigation.html' with { selected: "Calendar of Events" } %}
{% endblock %}

{% block header %}
<header class="page-title">
  <h1>OBGYN &amp; Certified Midwife Open House</h1>
</header>
{% endblock %}

{% block primary_content %}

<!-- START CONTENT -->
{% include 'partials/events/detail.html' with { content: 'events' } %}
<!-- END CONTENT -->
{% endblock %}

