{% extends 'layouts/interior.html' %}
{% set current_section = 'about the network' %}
{% set body_class = 'body-network' %}

{% block breadcrumbs %}
{% include 'partials/network/common/breadcrumbs.html' with { selected: 'About The Network' } %}
{% endblock %}

{% block navigation %}
{% include 'partials/network/common/navigation.html' with { selected: 'About The Network' } %}
{% endblock %}

{% block header %}
<header class="page-title heading-with-sub">
  <h1>About The Network</h1>
  <h2>Superior, Individualized Care</h2>
</header>
{% endblock %}

{% block primary_content %}

<!-- START CONTENT -->
{% include 'partials/network/network/content.html' %}
<!-- END CONTENT -->

{% endblock %}