<div class="row services">
    <!-- START GENERAL PAGE CONTENT -->
    <img class="full-width-image" src="/assets/img/services/heart-hero.jpg" />
    <section class="two-third">
        <header class="visually-hidden">
            <h1>Services - Heart & Vascular</h1>
        </header>

        <p>Superior medicine equals excellent patient results. Physicians at The Christ Hospital Cardiac & Vascular Center are committed to bringing the next leading-edge cardiac care to patients in Cincinnati and around the world. With The Carl and Edyth Lindner Research Center driving groundbreaking techniques in cardiovascular medicine, our services are focused on providing patients excellence in care that is comprehensive in scope.</p>

        <hr>
        <h3>Heart And Vascular Services</h3>

            <ul>
                <li>
                    <a href="#">Chest Pain Center w/Percutaneous Coronary Intervention</a>
                </li>
                <li>
                    <a href="#">Cardio Pulminary Rehabilitation</a>
                </li>
                <li>
                    <a href="#">Cardiothoracic & Vascular Surgery</a>
                </li>
                <li>
                    <a href="#">Foot & Ankle Clinic</a>
                </li>
                <li>
                    <a href="#">Heart Valve Disease</a>
                </li>
                <li>
                    <a href="#">Mechanical Heart Assist Device Program</a>
                </li>
                <li>
                    <a href="#">Project Heart ReStart</a>
                </li>
                <li>
                    <a href="#">Pulmonary Hypertension Program</a>
                </li>
                <li>
                    <a href="#">The Carl H. & Edith Lindner Heart Failure Treatment Center</a>
                </li>
                <li>
                    <a href="#">Wellness</a>
                </li>
                <li>
                    <a href="#">Wound Healing Center</a>
                </li>

            </ul>
            <a href="#"  class="button blue">A-Z Directory Of Services</a>

        </section>
    <!-- END GENERAL PAGE CONTENT -->

    <!-- START RESOURCES -->
    <aside class="one-third resources">

        <div class="resource-button content">
            <h1 class="title">Call Us Today</h1>
            <h2 class="subtitle">513-585-2000</h2>

            <ul>
                <li><a href="">Refer a Patient</a></li>
                <li><a href="">Schedule an Appointment</a></li>
                <li><a href="">Find a Location</a></li>
            </ul>
        </div>

        <a href="/" class="resource-button orange">
            <img src="/assets/img/location/content_find_physician.png" alt="Looking for a physician?">
            <button class="label">Find a Physician</button>
        </a>

        <hr>
        <div class="heading-with-sub">
            <h1>Online Medical Records</h1>
            <h2>Login to MyChart</h2>
        </div>
        <span class="or-create-account">
            or <a href="/">Create An Account</a>
        </span>
        <hr>
    </aside>
    <!-- END RESOURCES -->
</div>
<div class="clear"></div>
