<div class="row">
    <section class="container">
        <header class="visually-hidden">
            <h1>PRELIMINARY INTERNS</h1>
        </header>
        <p>Tempus pellentesque velit vel. Venenatis sed molestie vehicula. Sit leo eget pellentesque, proin urna amet proin rutrum, urna aliquam scelerisque, urna vitae amet aliquet etiam orci. Massa vestibulum lectus libero, amet luctus pellentesque nulla. Turpis velit. Non pretium pulvinar rem egestas et ut, sed velit montes justo tenetur in nostra, nunc nullam et eu, tellus porta.</p>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident1.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident2.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident3.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident4.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident5.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident6.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident7.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident8.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident9.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
        <div class="one-fifth resident">
            <img src="/assets/img/residency/resident10.jpg" />
            <div class="resident-name">Matthew Broderick, M.D.</div>
        </div>
    </section>

</div>
<div class="clear"></div>