{% import '../../../macros/social_block.html' as block %}

<div data-content>
    <!-- START SOCIAL GRID BLOCKS -->
    <div id="pnlGrid" class="blocks">
        {{ block.video(
            '/assets/img/community/video_pregnancies.jpg',
            Date.parse('08-28-2013'),
            'Our Resources for High Risk Pregnancies',
            'Lorem ipsum dolor sit amet, neque semper in ut in elementum sem. Sodales ac, proin at aliquam aliquet, pede est...'
        ) }}

        {{ block.event(
            Date.parse('08-23-2013'),
            'Breaking the Pain Chain Health Seminar',
            'Cincinnati Sports Club,<br>3950 Red Bank Road,<br>Cincinnati, OH 45227'
        ) }}

        {{ block.instagram(
            '/assets/img/community/instagram_doctor.jpg',
            Date.parse('08-23-2013'),
            'Our kids love Dr. DeCampli! #TheChristHospital #weheartourdoctors'
        ) }}

        {{ block.facebook(
            '/assets/img/community/facebook_doctor.jpg',
            Date.parse('08-24-2013'),
            'The Christ Hospital Physicians – Primary Care welcomes internist, Dr. Grayson Sugarman. His office is located in...'
        ) }}

        {{ block.video(
            '/assets/img/community/video_heart_disease.jpg',
            Date.parse('08-19-2013'),
            'Get Healthy Cincinnati: Inside Look at Heart Disease',
            'Lorem ipsum dolor sit amet, neque semper in ut in elementum sem. Aliquet, pede est...'
        ) }}

        {{ block.news(
            '/assets/img/community/cardio_team.jpg',
            Date.parse('08-24-2013'),
            'Our Cardiovascular Team Ranked in Top 5 in the US',
            'Lorem ipsum dolor sit amet, neque semper in ut in elementum sem, mus lectus montes iaculis cra...'
        ) }}

        {{ block.instagram(
            '/assets/img/community/instagram_event.jpg',
            Date.parse('08-20-2013'),
            "Patients, families, and staff of the Hewell Kids Kidney Center at Arnold Palmer Hospital raised over $3,500 for this year's National Kidney Foundation Walk. Way to go team! #TheChristHospital #FUNdraising"
        ) }}

        {{ block.event(
            Date.parse('08-23-2013'),
            'Joint Sessions Health Seminar',
            'Cincinnati Sports Club,<br>3950 Red Bank Road,<br>Cincinnati, OH 45227'
        ) }}

        {{ block.facebook(
            null,
            Date.parse('08-19-2013'),
            'This Saturday, The Christ Hospital Health Network will be participating in the 2013 Mt. Auburn Day at Hopkins Park, located at the intersection of Auburn and Dorchester Avenues. There will be health screenings, free school supplies, live entertainment... '
        ) }}

        {{ block.news(
            '/assets/img/community/woman_backpack.jpg',
            Date.parse('08-30-2013'),
            'Healthy Backpack Habits: A Back-to-School Essential',
            'Lorem ipsum dolor sit amet, neque semper in ut in elementum sem, mus lectus montes iaculis cra...'
        ) }}

        {{ block.news(
            '/assets/img/community/parking_garage.jpg',
            Date.parse('08-19-2013'),
            'Visitors Garage Addition, Topping Off Ceremony',
            'Lorem ipsum dolor sit amet, neque semper in ut in elementum sem, ligula wisi, amet erat...'
        ) }}

        {{ block.video(
            '/assets/img/community/video_women_heart.jpg',
            Date.parse('08-19-2013'),
            'Women and Heart Disease',
            'Lorem ipsum dolor sit amet, neque semper in ut in elementum sem. Aliquet, pede est...'
        ) }}

        {{ block.instagram(
            '/assets/img/community/instagram_note.jpg',
            Date.parse('08-23-2013'),
            'This is one of the hundreds of cards we received after #september11. #neverforget #honor911 #nyp #nyphospital'
        ) }}

        {{ block.event(
            Date.parse('08-29-2013'),
            'Scale to Success Health Seminar',
            'YMCA Blue Ash,<br>5000 YMCA Road,<br>Cincinnati, Ohio 45242'
        ) }}
    </div>
    <!-- END SOCIAL GRID BLOCKS -->

    <!-- START SOCIAL GRID LOADER -->
    <div class="grid-loader">
        <button>Load more</button>
    </div>
    <!-- END SOCIAL GRID LOADER -->
</div>