<footer class="page-footer">

    <!-- START NETWORK -->
    <section class="footer-network clear">
        <ul class="clear">
            <li>THE CHRIST HOSPITAL
                <br>MAIN CAMPUS
                <br>2139 Auburn Ave
                <br>Cincinnati, OH 45219
                <br>(513) 585-2000
                <br><a href="#" class="additional">Additional Locations</a>
            </li>
            <li>
                <ul>
                    <li>
                        <span>Quick Links</span>
                    </li>
                    <li><a href="#">My Chart</a>
                    </li>
                    <li><a href="#">Patient Resources</a>
                    </li>
                    <li><a href="#">Pay My Bill Online</a>
                    </li>
                    <li><a href="#">Family &amp; Visitors</a>
                    </li>
                    <li><a href="#">Maps &amp; Directions</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <span>Administration</span>
                    </li>
                    <li><a href="#">BoardNet</a>
                    </li>
                    <li><a href="#">Physical Portal</a>
                    </li>
                    <li><a href="#">Employment</a>
                    </li>
                    <li><a href="#">Journals &amp; Publications</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <span>Contact Us</span>
                    </li>
                    <li><a href="#">Contact Form</a>
                    </li>
                    <li><a href="#">MyChart</a>
                    </li>
                    <li><a href="#">Nominate a Caregiver</a>
                    </li>
                    <li><a href="#">Patient Relations</a>
                    </li>
                    <li><a href="#">Phone Directory</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="social clear">
                    <li>
                        <a href="#" class="facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="instagram"></a>
                    </li>
                    <li>
                        <a href="#" class="twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="linkedin"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <div class="copyright">&copy; 2014 The Christ Hospital. All Rights Reserved.</div>
    <!-- END NETWORK -->
</footer>
