<header class="page-header hide-desktop">
  <a href="#" class="search-toggle"></a>

  <div class="mobile-search-wrap">
    <form>
    <a href="#" class="go">Go</a>
      <input type="text" placeholder="Search Our Site">
    </form>
  </div>

  <nav class="main-menu">
    <div class="container">
      <ul id="lstPrimaryNavigation" class="primary-nav">
        <li class="home"><a href="/" {% if current_section=='home' %} class="selected" {% endif %}>Navigation</a>
        </li>
        <li><a href="/" {% if current_section=='about' %} class="selected" {% endif %}>About the Network</a>
        </li>
        <li><a href="/" {% if current_section=='services' %} class="selected" {% endif %}>Our Services</a>
        </li>
        <li><a href="/" {% if current_section=='locations' %} class="selected" {% endif %}>Our Locations</a>
        </li>
        <li><a href="/" {% if current_section=='newscommunity' %} class="selected" {% endif %}>News &amp; Community</a>
        </li>
        <li><a href="/" {% if current_section=='ourphysicians' %} class="selected" {% endif %}>Patient &amp; Visitor Resources</a>
      </ul>
    </div>
  </nav>
  <div class="container">
    <a href="#" class="logo">
      <span class="visually-hidden">The Christ Hospital&tm; Health Network</span>
    </a>
  </div>
</header>

<header class="page-header hide-mobile">
  <div class="container">
    <a href="/" class="logo">
      <span class="visually-hidden">The Christ Hospital&tm; Health Network</span>
    </a>
    <div class="tertiary-nav clear">
      <ul class="main-tertiary">
        <li><a href="#" class="location">Find a Location</a>
        </li>
        <li><a href="#" class="physician">Find a Physician</a>
        </li>
        <li><a href="#" class="library">Health Library</a>
        </li>
      </ul>
      <ul class="secondary-tertiary">
        <li><a href="#" class="giving">Giving</a>
        </li>
        <li><a href="#">Careers</a>
        </li>
        <li><a href="#">MyChart</a>
        </li>
        <li><a href="#">Bill Pay</a>
        </li>
        <li><a href="#">For Healthcare Professionals</a>
        </li>
      </ul>
    </div>
    <nav class="main-menu">
      <div class="container" id="mega">
        <ul id="lstPrimaryNavigation" class="primary-nav nav-menu">
          <li class="home"><a href="/" {% if current_section=='home' %} class="selected" {% endif %}>Navigation</a>
          </li>
          <li class="nav-item"><a href="/" {% if current_section=='about' %} class="selected" {% endif %}>About <span>the Network</span></a>
          </li>
          </li>
          <li class="nav-item"><a href="/" {% if current_section=='services' %} class="selected" {% endif %}>Our <span>Services</span></a>
            <div class="sub-nav">
              <ul class="sub-nav-group">
                <li><a href="#">A-Z Directory of Services</a>
                </li>
                <li><a href="#">Cancer</a>
                </li>
                <li><a href="#">Comprehensive Medicine and Primary Care</a>
                </li>
                <li><a href="#">Heart and Vascular</a>
                </li>
                <li><a href="#">Orthopaedics and Sports Medicine</a>
                </li>
                <li><a href="#">Spine Institute</a>
                </li>
                <li><a href="#">Surgical Services</a>
                </li>
                <li><a href="#">Womens Health</a>
                </li>
                <li><a href="#">Additional Services</a>
                </li>
                <li><a href="#">Healthcare Business Solutions</a>
                </li>
              </ul>
              <ul class="sub-nav-group popular-links">
                <li>Popular Links</li>
                <li><a href="#">Advanced Heart Attack Center</a>
                </li>
                <li><a href="#">Breast Health</a>
                </li>
                <li><a href="#">Emergency Medicine</a>
                </li>
                <li><a href="#">Go Red for Women</a>
                </li>
                <li><a href="#">Outpatient Surgery</a>
                </li>
                <li><a href="#">Research and Clinical Trials</a>
                </li>
                <li><a href="#">Sports Medicine</a>
                </li>
                <li><a href="#">Testing Centers</a>
                </li>
                <li><a href="#">Urgent Care</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item"><a href="/" {% if current_section=='locations' %} class="selected" {% endif %}>Our <span>Locations</span></a>
          </li>
          <li class="nav-item"><a href="/" {% if current_section=='newscommunity' %} class="selected" {% endif %}>News &amp; <span>Community</span></a>
          </li>
          <li class="nav-item"><a href="/" {% if current_section=='contact' %} class="selected" {% endif %}>Patient &amp; Visitor <span>Resources</span></a>
            <div class="sub-nav left-align">
              <ul class="sub-nav-group">
                <li><a href="#">A-Z Directory of Services</a>
                </li>
                <li><a href="#">Cancer</a>
                </li>
                <li><a href="#">Comprehensive Medicine and Primary Care</a>
                </li>
                <li><a href="#">Heart and Vascular</a>
                </li>
                <li><a href="#">Orthopaedics and Sports Medicine</a>
                </li>
                <li><a href="#">Spine Institute</a>
                </li>
                <li><a href="#">Surgical Services</a>
                </li>
                <li><a href="#">Womens Health</a>
                </li>
                <li><a href="#">Additional Services</a>
                </li>
                <li><a href="#">Healthcare Business Solutions</a>
                </li>
              </ul>
              <ul class="sub-nav-group popular-links">
                <li>Popular Links</li>
                <li><a href="#">Advanced Heart Attack Center</a>
                </li>
                <li><a href="#">Breast Health</a>
                </li>
                <li><a href="#">Emergency Medicine</a>
                </li>
                <li><a href="#">Go Red for Women</a>
                </li>
                <li><a href="#">Outpatient Surgery</a>
                </li>
                <li><a href="#">Research and Clinical Trials</a>
                </li>
                <li><a href="#">Sports Medicine</a>
                </li>
                <li><a href="#">Testing Centers</a>
                </li>
                <li><a href="#">Urgent Care</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="search-wrap">
          <form>
            <input type="text" placeholder="Search Our Site">
            <input type="button">
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
