<div class="row physician-content">
    <header class="page-title clear">
        <h1>Kimberly Bailey, MD</h1>
    </header>
    <!-- START PHYSICIAN DETAILS -->
    <div class="special-interest-wrap">
        <div class="photo-wrap clear">
            <img src="/assets/img/physician-detail/physician-headshot.jpg" alt="Kimberly Bailey, MD">
        </div>
        <div class="special-interest">
            <h2>Specialties</h2>
            <p>Internal Medicine, Pediatrics</p>

            <h2>Areas of Interest</h2>
            <p>Advanced Heart Failure, Atrial Fibrillation, Pulmonary Hypertension, Resistance Hypertension, Heart Valve Disease</p>
        </div>
    </div>
    <p>As a non-invasive, clinical cardiologist, Dr. Parker specializes in cardiovascular diagnostics and treatment with emphasis on preventative cardiology.</p>
    <p>He completed his internship, residency and fellowship at Columbia University’s College of Physicians and Surgeons at Harlem Hospital Center in New York City. He joined Ohio Heart and Vascular Center in 2009, but he has been practicing cardiology at Taft Place Medical Center since 1989.</p>
    <p>He was born and grew up in Roseville, California. He also spent time in Washington, DC and Arizona. But his portal into the medical profession was through aviation. He loves to fly. Some of his most treasured childhood memories are flying with his physician father between Indian Reservation Hospitals. His first career choice was the Air Force Academy, but instead he decided to “go ahead and take the medical route.” He was drawn to cardiology because of his interest in body works, and how the organs function together. In short, physiology.</p>
    <p>Dr. Parker’s wife is a homecare professional. They have a 10-year son and he has an adult daughter . And most important is Bridget, a border collie/shepherd mix.</p>
    <p>Dr. Parker loves music but admits he can’t carry a tune. Weekends find him fishing and camping in the great outdoors or keeping up his pilot’s license in the cockpit of a J-3 Cub. He enjoys watching baseball, hockey, basketball and football–the Bengals are his favorite team.</p>
    <!-- END PHYSICIAN DETAILS -->
</div>
<div class="clear"></div>
