<section class="physician-locations">
    <!-- START PHYSICIAN PRIMARY LOCATION -->
    <div class="primary-locations">
            <h2>Primary Location</h2>

        <div class="styled-dropdown accordion open">
            <span class="label">Green Township Outpatient Center</span>
            <div class="dropdown-content">
                <section class="one-fourth location-details">
                    <a href="/" class="title">Green Township Outpatient Center</a>
                    <p class="address">
                        2123 Auburn Ave, Ste 424<br />
                        Cincinnati, OH 45219<br />
                        (<a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d25758!2d-84.508467!3d39.132058!4m17!3m16!1m0!1m5!1s2123+Auburn+Ave+%23424%2C+Cincinnati%2C+OH+45219!2s0x8841b3ef74c96647%3A0xbbd881c18c1e2af4!3m2!3d39.120156!4d-84.508879!3m8!1m3!1d24759!2d-84.508467!3d39.132058!3m2!1i1024!2i768!4f13.1&fid=0" target="_blank">Get Directions</a>)
                    </p>
                    <p>
                        Phone: 513-585-1777<br />
                        Fax: 513-585-4858
                    </p>
                </section>
                <div class="three-fourth">
                    <section class="one-half location-map">
                        <iframe width="268" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=2123+Auburn+Ave,+Ste+424&amp;ie=UTF8&amp;hq=&amp;hnear=2123+Auburn+Ave+%23424,+Cincinnati,+Ohio+45219&amp;ll=39.120139,-84.508896&amp;spn=0.013318,0.022917&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                    </section>
                    <aside class="one-half location-callouts">
                       <!--  <a href="/" class="button orange">Request an Appointment</a> -->
                        <a href="/" class="button">Pre-Registration</a>
                        <a href="/" class="button">Accepting New Patients</a>
                    </aside>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- END PHYSICIAN PRIMARY LOCATION -->
    
    <!-- START PHYSICIAN SECONDARY LOCATIONS -->
    <div class="secondary-locations">
            <h2>Secondary Locations</h2>
        <div class="styled-dropdown accordion">
            <span class="label">Anderson Township Outpatient Center</span>
            <div class="dropdown-content">
                <section class="one-fourth location-details">
                    <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d25758!2d-84.508467!3d39.132058!4m17!3m16!1m0!1m5!1s2123+Auburn+Ave+%23424%2C+Cincinnati%2C+OH+45219!2s0x8841b3ef74c96647%3A0xbbd881c18c1e2af4!3m2!3d39.120156!4d-84.508879!3m8!1m3!1d24759!2d-84.508467!3d39.132058!3m2!1i1024!2i768!4f13.1&fid=0" class="title">Anderson Township Outpatient Center</a>
                    <p class="address">
                        2123 Auburn Ave, Ste 424<br />
                        Cincinnati, OH 45219<br />
                        (<a href="/" target="_blank">Get Directions</a>)
                    </p>
                    <p>
                        Phone: 513-585-1777<br />
                        Fax: 513-585-4858
                    </p>
                </section>
                <div class="three-fourth">
                    <section class="one-half location-map">
                        <iframe width="268" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=2123+Auburn+Ave,+Ste+424&amp;ie=UTF8&amp;hq=&amp;hnear=2123+Auburn+Ave+%23424,+Cincinnati,+Ohio+45219&amp;ll=39.120139,-84.508896&amp;spn=0.013318,0.022917&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                    </section>
                    <aside class="one-half location-callouts">
                        <!-- <a href="/" class="button orange">Request an Appointment</a> -->
                        <a href="/" class="button">Pre-Registration</a>
                        <a href="/" class="button">Accepting New Patients</a>
                    </aside>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="styled-dropdown accordion">
            <span class="label">The Christ Hospital - Main Campus</span>
            <div class="dropdown-content">
                <section class="one-fourth location-details">
                    <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d25758!2d-84.508467!3d39.132058!4m17!3m16!1m0!1m5!1s2123+Auburn+Ave+%23424%2C+Cincinnati%2C+OH+45219!2s0x8841b3ef74c96647%3A0xbbd881c18c1e2af4!3m2!3d39.120156!4d-84.508879!3m8!1m3!1d24759!2d-84.508467!3d39.132058!3m2!1i1024!2i768!4f13.1&fid=0" class="title">The Christ Hospital - Main Campus</a>
                    <p class="address">
                        2123 Auburn Ave, Ste 424<br />
                        Cincinnati, OH 45219<br />
                        (<a href="/" target="_blank">Get Directions</a>)
                    </p>
                    <p>
                        Phone: 513-585-1777<br />
                        Fax: 513-585-4858
                    </p>
                </section>
                <div class="three-fourth">
                    <section class="one-half location-map">
                        <iframe width="268" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=2123+Auburn+Ave,+Ste+424&amp;ie=UTF8&amp;hq=&amp;hnear=2123+Auburn+Ave+%23424,+Cincinnati,+Ohio+45219&amp;ll=39.120139,-84.508896&amp;spn=0.013318,0.022917&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                    </section>
                    <aside class="one-half location-callouts">
                        <!-- <a href="/" class="button orange">Request an Appointment</a> -->
                        <a href="/" class="button">Pre-Registration</a>
                        <a href="/" class="button">Accepting New Patients</a>
                    </aside>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- END PHYSICIAN SECONDARY LOCATIONS -->
</section>
<div class="clear"></div>