<h2 class="sidebar-header">Details</h2>
<!-- START PHYSICIAN INFORMATION -->
<section class="physician-content">

    <!--         <img src="/assets/img/physician-detail/physician-headshot.jpg" alt="Kimberly Bailey, MD">
 -->
    
    <h3>Gender</h3>
    <ul class="detail-list">
        <li>Female</li>
    </ul>
    <h3>Languages Spoken</h3>
    <ul class="detail-list">
        <li>English, Spanish</li>
    </ul>
    <!-- <h3>Areas of Interest</h3>
        <ul class="detail-list">
            <li>Advanced Heart Failure</li>
            <li>Atrial Fibrillation</li>
            <li>Pulmonary Hypertension</li>
            <li>Resistant Hypertension</li>
            <li>Heart Valve Disease</li>
        </ul> -->
    <!-- <h3>Insurance Accepted</h3>
        <ul class="detail-list">
            <li><a href="/">Anthem</a></li>
            <li><a href="/">Humana</a></li>
            <li><a href="/">Medicaid</a></li>
        </ul> -->
    <h3>Board Certification</h3>
    <ul class="detail-list">
        <li>American Board of Internal Medicine</li>
    </ul>
    <h3>Education</h3>
    <ul class="detail-list normal">
        <li>Good Samaritan Hospital
            <span class="role">(Professional Education)</span>
        </li>
        <li>University of Cincinnati/University Hospital
            <span class="role">(Internship)</span>
        </li>
        <li>The Christ Hospital
            <span class="role">(Residency)</span>
        </li>
        <li>Washington University
            <span class="role">(Fellowship Program)</span>
        </li>
    </ul>
</section>
<!-- END PHYSICIAN INFORMATION -->
