<section class="physician-featured-image">
    <img src="/assets/img/physician-detail/content_physician.jpg" alt="Kimberly Bailey, MD">

    <div class="special-interest-wrap">
        <span class="header">Specialties</span>
        Internal Medicine, Pediatrics

        <span class="header areas">Areas of Interest</span>
        Advanced Heart Failure,  Atrial Fibrillation, Pulmonary Hypertension, Resistance Hypertension, Heart Valve Disease
    </div>
    <div class="clear"></div>
</section>
