<div class="row">
    <!-- START GENERAL PAGE CONTENT -->
    <!-- <img class="full-width-image" src="/assets/img/hero-placeholder.jpg" /> -->
    <section>
        <header class="visually-hidden">
            <h1>Interior Content</h1>
        </header>
        <p>Lorem ipsum dolor sit amet, nam massa nonummy lorem eget eget bibendum, vitae vivamus pede, quam posuere ut neque neque, vivamus scelerisque lectus faucibus sapien aut, sed eget. Sed sed vitae rutrum cum porttitor ut, tellus magna sagittis, diam vulputate tellus urna urna. Massa tincidunt aliquam donec egestas, urna facilisis, parturient interdum, augue nesciunt. Inceptos et, sit ac mollis convallis dui inceptos orci, suscipit neque lectus sodales in. Proin eu curabitur massa, amet ut lacinia amet in. Dolor luctus mauris ipsum id, erat aliquet rutrum ultricies gravida lacinia quis, est dis dui tincidunt, lorem integer cras, a non lacus aenean nunc cursus ut.</p>
        <p>Suscipit amet leo luctus dictumst, et a wisi leo molestie sit, egestas justo nec in turpis magna, in donec, dolor dictumst sem dui. Cum nunc massa aliquam enim, tempus habitant donec hymenaeos ullamcorper malesuada, at urna sit a orci. Rhoncus at, et sem. Venenatis libero libero elit elit, enim libero sagittis, erat in wisi erat et euismod tincidunt, metus sed a ultricies duis class. Neque cras, faucibus tellus sapien, amet amet dolor. In sint enim sit morbi, semper dictum, laoreet eget. Vehicula quam risus orci, wisi vulputate augue eu et lorem nunc, amet in diam mauris lorem. Magna nisl lacinia donec luctus, enim phasellus id enim pede vulputate.</p>
        <h2>Awards And Recognition</h2>
        <section class="network-awards">
            <div class="row spacing-bottom">
                <div class="one-fourth">
                    <img src="/assets/img/network/top50.png" />
                </div>
                <div class="three-fourth"><a href="#">The 50 Top Cardiovascular Hospitals</a>
                    <p>The Christ Hospital has been named one of the nation's 50 Top Cardiovascular Hospitals by Truven Health Analytics. This is the 9th time we've been recognized with this honor.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row spacing-bottom">
                <div class="one-fourth">
                    <img src="/assets/img/network/best-hospital.png" />
                </div>
                <div class="three-fourth"><a href="#">America's Best Hospitals</a>
                    <p>U.S. News and World Report consistently recognizes The Christ Hospital as one of the country's top 50. In 2013, we received honors for Diabetes & Endocrinology, Geriatrics and Orthopedics.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row spacing-bottom">
                <div class="one-fourth">
                    <img src="/assets/img/network/CCA-Logo.png" />
                </div>
                <div class="three-fourth"><a href="#">The 50 Top Cardiovascular Hospitals</a>
                    <p>The Christ Hospital has been named one of the nation's 50 Top Cardiovascular Hospitals by Truven Health Analytics. This is the 9th time we've been recognized with this honor.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row spacing-bottom">
                <div class="one-fourth">
                    <img src="/assets/img/network/Magnet2014.png" />
                </div>
                <div class="three-fourth"><a href="#">America's Best Hospitals</a>
                    <p>U.S. News and World Report consistently recognizes The Christ Hospital as one of the country's top 50. In 2013, we received honors for Diabetes & Endocrinology, Geriatrics and Orthopedics.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row spacing-bottom">
                <div class="one-fourth">
                    <img src="/assets/img/network/network-hero.jpg" />
                </div>
                <div class="three-fourth"><a href="#">America's Best Hospitals</a>
                    <p>U.S. News and World Report consistently recognizes The Christ Hospital as one of the country's top 50. In 2013, we received honors for Diabetes & Endocrinology, Geriatrics and Orthopedics.</p>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <h3>Headline 3</h3>
        <p>Tempus pellentesque velit vel. Venenatis sed molestie vehicula. Sit leo eget pellentesque, proin urna amet proin rutrum, urna aliquam scelerisque, urna vitae amet aliquet etiam orci. Massa vestibulum lectus libero, amet luctus pellentesque nulla. Turpis velit. Non pretium pulvinar rem egestas et ut, sed velit montes justo tenetur in nostra, nunc nullam et eu, tellus porta.</p>
        <ul>
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
        </ul>

        <div class="styled-dropdown accordion">
            <span class="label">Types of diabetes</span>
            <div class="dropdown-content">

                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id possimus accusamus excepturi porro, adipisci ullam itaque, praesentium officia quas perferendis quam a ducimus, rem alias! Quo fuga animi corrupti.</p>
            </div>
        </div>
        <div class="styled-dropdown accordion">
            <span class="label">Types of endocrine disorders</span>
            <div class="dropdown-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id possimus accusamus excepturi porro, adipisci ullam itaque, praesentium officia quas perferendis quam a ducimus, rem alias! Quo fuga animi corrupti.</p>
            </div>
        </div>
        <div class="styled-dropdown accordion">
            <span class="label">Diabetes and endocrine care outside the hospital</span>
            <div class="dropdown-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id possimus accusamus excepturi porro, adipisci ullam itaque, praesentium officia quas perferendis quam a ducimus, rem alias! Quo fuga animi corrupti.</p>
            </div>
        </div>
        <div class="styled-dropdown accordion">
            <span class="label">Diabetes self management training</span>
            <div class="dropdown-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id possimus accusamus excepturi porro, adipisci ullam itaque, praesentium officia quas perferendis quam a ducimus, rem alias! Quo fuga animi corrupti.</p>
            </div>
        </div>
    </section>
</div>
<div class="clear"></div>
