{% set date = Date.parse('08-24-2013') %}
{% set image = '/assets/img/community-detail/news_cardio_team.jpg' %}

<header class="post-title">
    <a href="#">
        <h2>Our Cardiovascular Team Ranked in Top 5 in the US</h2>
    </a>
</header>

<section class="metadata">
    <time datetime="{{ date|date('c') }}">{{ date|date('M j') }}</time>
    <div class="facebook-share">
        <div class="facebook-share">
            <div class="fb-like" data-href="http://www.thechristhospital.com/" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="true"></div>
        </div>
    </div>
</section>

<div class="featured-image">
    <img src="{{ image }}" alt="{{ title }}">
</div>

<section class="post-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet magna nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean consectetur nunc vitae nisl ultricies varius. Nulla id magna in urna tristique vestibulum. Suspendisse in turpis arcu. Duis a quam vel purus faucibus convallis. Sed arcu sem, rhoncus eget lorem ac, elementum viverra massa. Sed eu lorem tristique, posuere nibh id, laoreet elit. Nullam pharetra varius magna, at facilisis purus. Nunc tincidunt ipsum urna.</p>
    <p>Vestibulum a nisi a velit blandit commodo. Quisque pharetra ultricies tortor, vitae fringilla urna vehicula quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at posuere sem. Integer pretium erat eu euismod condimentum. Integer mollis vestibulum enim vel tincidunt. Etiam facilisis leo nibh, nec fringilla lorem feugiat quis. Aenean lacinia cursus luctus.</p>
</section>

<section class="post-social-share">
    <div class="facebook-mini">
        <div class="fb-like" data-href="http://www.thechristhospital.com/" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="true"></div>
    </div>
</section>

<hr>

<section class="post-social-share">
    <div class="facebook-full">
        <div class="fb-like" data-href="http://www.thechristhospital.com/" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="false" data-send="true"></div>
    </div>
</section>