<section class="sidebar-section social-detail-tags">
    <header>
        <h3>Tags</h3>
    </header>
    <ul class="tags detail-list">
        <li><a href="#">Success Stories</a></li>
        <li><a href="#">Video</a></li>
        <li><a href="#">The Christ Hospital</a></li>
        <li><a href="#">NICU</a></li>
        <li><a href="#">Cardiology</a></li>
        <li><a href="#">Women's Health</a></li>
    </ul>
</section>

<section class="sidebar-section social-detail-related">
    <header>
        <h3>Related Stories &amp; Events</h3>
    </header>
    <ul class="social-link-refer related-stories">
        <li class="news">
            <a href="#">Our Cardiovascular Team Ranked in Top 5 in the US</a>
        </li>
        <li class="event">
            <a href="#">Breaking the Pain Chain Health Seminar</a>
            <p class="excerpt">
                Sept. 10, 17, 24 and Oct. 1, 6 - 8 p.m.
            </p>
        </li>
        <li class="news"><a href="#">Our Cardiovascular Team Ranked in Top 5 in the US</a></li>
    </ul>
</section>