<section class="sidebar-section social-detail-other">
    <header>
        <h3>Other Events</h3>
    </header>
    <ul class="social-link-refer other">
        <li class="event">
            <a href="#">Joint Sessions Health Seminar</a>
            <p class="excerpt">
                Thursday, Sept. 12, 5:30 p.m.
            </p>
        </li>
        <li class="event">
            <a href="#">Scale to Success Seminar</a>
            <p class="excerpt">
                Monday, Sept. 16, 6:00 p.m.
            </p>
        </li>
    </ul>
</section>