<div class="resource-button centers-of-excellence">
    <h1 class="title">Centers of</h1>
    <h2 class="subtitle">Excellence</h2>
    <p class="description">Explore our Centers of Excellence and learn why our services and specialties have been recognized by U.S. New & World Report, Truven Health Analytics and the American Heart Association.</p>
    
    <ul>
        <li>
            <a href="#">Heart & Vascular</a>
        </li>
        <li>
            <a href="#">Oncology</a>
        </li>
        <li>
            <a href="#">Spine</a>
        </li>
        <li>
            <a href="#">Ortho & Sports Medicine</a>
        </li>
        <li>
            <a href="#">Women's Health</a>
        </li>
        <li>
            <a href="#">Primary Care</a>
        </li>
        <li>
            <a href="#">Comprehensive Medicine</a>
        </li>
    </ul>
    <img class="ribbon" src="/assets/img/ribbon.png" />
</div>