<div class="row services">
    <!-- START GENERAL PAGE CONTENT -->
    <img class="full-width-image" src="/assets/img/services/services-hero.jpg" />
    <section class="two-third">
        <header class="visually-hidden">
            <h1>Services</h1>
        </header>

        <p>We are consistently recognized as a national leader for excellent patient care. At the Christ Hospital Health Network, more than 1,000 physicians make superior medicine convenient and accessible at over 100 locations throughout the Greater Cincinnati region.</p>
        <a href="#" class="button blue" >A-Z Directory of Services</a>
        <hr>
        <h3>Clinical Services</h3>
        <div class="one-half list">
            <ul>
                <li>
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                </li>
                <li>
                    <a href="#">Spine</a>
                </li>
                <li>
                    <a href="#">Ortho & Sports Medicine</a>
                </li>
            </ul>
        </div>

        <div class="one-half list">
            <ul>
                 <li>
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                </li>
                <li>
                    <a href="#">Comprehensive Medicine</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <hr>
        <h3>Health & Wellness</h3>

        <div class="one-half list">
            <ul>
                <li>
                    <a href="#">Heart & Vascular</a>
                </li>
                <li>
                    <a href="#">Oncology</a>
                </li>
                <li>
                    <a href="#">Spine</a>
                </li>
                <li>
                    <a href="#">Ortho & Sports Medicine</a>
                </li>
            </ul>
        </div>
        <div class="one-half list">
            <ul>
                <li>
                    <a href="#">Women's Health</a>
                </li>
                <li>
                    <a href="#">Primary Care</a>
                </li>
                <li>
                    <a href="#">Comprehensive Medicine</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <hr>
        <h3>Support Services</h3>
        <div class="one-half list">
            <ul>
                <li>
                    <a href="#">Heart & Vascular</a>
                </li>
                <li>
                    <a href="#">Oncology</a>
                </li>
                <li>
                    <a href="#">Spine</a>
                </li>
                <li>
                    <a href="#">Ortho & Sports Medicine</a>
                </li>
            </ul>
        </div>
        <div class="one-half list">
            <ul>
                <li>
                    <a href="#">Women's Health</a>
                </li>
                <li>
                    <a href="#">Primary Care</a>
                </li>
                <li>
                    <a href="#">Comprehensive Medicine</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <hr>
        <h3>Research & Innovation</h3>
        <div class="one-half list">
            <ul>
                <li>
                    <a href="#">Heart & Vascular</a>
                </li>
                <li>
                    <a href="#">Oncology</a>
                </li>
                <li>
                    <a href="#">Spine</a>
                </li>
                <li>
                    <a href="#">Ortho & Sports Medicine</a>
                </li>
            </ul>
        </div>
        <div class="one-half list">
            <ul>
                <li>
                    <a href="#">Women's Health</a>
                </li>
                <li>
                    <a href="#">Primary Care</a>
                </li>
                <li>
                    <a href="#">Comprehensive Medicine</a>
                </li>
            </ul>
        </div>
        </section>
    <!-- END GENERAL PAGE CONTENT -->

    <!-- START RESOURCES -->
    <aside class="one-third resources">

        <!-- START CENTERS OF EXCELLENCE -->
        {% include 'centers-of-excellence.html' %}
        <!-- END CENTERS OF EXCELLENCE -->

        <hr>
        <div class="heading-with-sub">
            <h1>Online Medical Records</h1>
            <h2>Login to MyChart</h2>
        </div>
        <span class="or-create-account">
            or <a href="/">Create An Account</a>
        </span>
        <hr>
    </aside>
    <!-- END RESOURCES -->
</div>
<div class="clear"></div>
