
<aside class="video">
<iframe width="100%" height="200" src="//www.youtube.com/embed/uMlZcrIS4Zo" frameborder="0" allowfullscreen></iframe>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora porro dolore tenetur non excepturi animi. Similique earum esse tempora consequatur nostrum, harum labore fugiat, nihil nesciunt reiciendis sapiente necessitatibus. Architecto.</p>
</aside>

<aside class="hotlink-tile blue clear">
    <h2>Call Us Today</h2>
    <span>513-585-2000</span>
<ul>
    <li><a href="#">Service Line Directory</a></li>
    <li><a href="#">Visitor Resources</a></li>
    <li><a href="#">Questions About My Bill</a></li>
</ul>
</aside>
