<aside class="popular-links clear">
<h2>Popular Links</h2>
    <ul>
        <li><a href="#">Advanced Heart Attack Center</a>
        </li>
        <li><a href="#">Breast Health</a>
        </li>
        <li><a href="#">Emergency Medicine</a>
        </li>
        <li><a href="#">Go Red for Women</a>
        </li>
        <li><a href="#">Outpatient Surgery</a>
        </li>
        <li><a href="#">Research and Clinical Trials</a>
        </li>
        <li><a href="#">Sports Medicine</a>
        </li>
        <li><a href="#">Testing Centers</a>
        </li>
        <li><a href="#">Urgent Care</a>
        </li>
    </ul>
</aside>

<aside class="hotlink-tile blue clear">
    <h2>Call Us Today</h2>
    <span>513-585-2000</span>
<ul>
    <li><a href="#">Service Line Directory</a></li>
    <li><a href="#">Visitor Resources</a></li>
    <li><a href="#">Questions About My Bill</a></li>
</ul>
</aside>

<aside class="hotlink-tile orange clear">
    <h2>Online Medical Records</h2>
    <span>Login to MyChart</span>
    <ul>
        <li>or <a href="#">Create an Account</a></li>
    </ul>
</aside>
    
</aside>

<aside class="resources">

<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="../assets/img/widgets/468_physicians.jpg" media="(min-width: 768px)">
    <source srcset="../assets/img/widgets/800_physicians.jpg" media="(min-width: 469px)">
    <source srcset="../assets/img/widgets/468_physicians.jpg" media="(min-width: 1px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="../assets/img/widgets/800_physicians.jpg">
</picture>

<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="../assets/img/widgets/468_library.jpg" media="(min-width: 768px)">
    <source srcset="../assets/img/widgets/800_library.jpg" media="(min-width: 469px)">
    <source srcset="../assets/img/widgets/468_library.jpg" media="(min-width: 1px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="../assets/img/widgets/800_library.jpg">
</picture>

<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="../assets/img/widgets/468_location.jpg" media="(min-width: 768px)">
    <source srcset="../assets/img/widgets/800_location.jpg" media="(min-width: 469px)">
    <source srcset="../assets/img/widgets/468_location.jpg" media="(min-width: 1px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="../assets/img/widgets/800_location.jpg">
</picture>



   <!--  <a href="/" class="resource-button orange">
        <img src="/assets/img/location/content_find_physician.png" alt="Looking for a physician?">
    </a>
    <a href="/" class="resource-button grey">
        <img src="/assets/img/location/content_find_location.png" alt="Find a location">
    </a>
    <a href="/" class="resource-button grey">
        <img src="/assets/img/location/content_health_library.png" alt="Health Library">
    </a> -->
</aside>
