<div class="row">
    <!-- START GENERAL PAGE CONTENT -->

    <section class="two-third">
        <header class="visually-hidden">
            <h1>Heart Murmur</h1>
        </header>
        <p class="author">By Rick Alan</p>
        <h2>Definition</h2>
        <p>A heart murmur is an abnormal sound made by turbulent blood flow in the heart. It sounds like whooshing or swishing with each heartbeat. Some adults and many children have incidental heart murmurs that are benign (harmless) and are not caused by abnormalities in the heart. At least 30% of children may have an innocent heart murmur at some point during childhood. However, some heart murmurs can signal an underlying heart problem.</p>
        <img class="full-width-image" src="/assets/img/ebsco/heart-diagram.jpg" />
        <hr>
        <h2>Causes</h2>
        <p>Benign murmurs are caused by the normal flow of blood through the heart and large vessels near the heart. The murmur may come and go over time. Some things that can increase blood flow and cause a benign heart murmur to be heard include:</p>

        <ul>
            <li>Exercise</li>
            <li>Pregnancy</li>
            <li>Extreme <a href="#">anxiety</a></li>
            <li>Anemia</li>
            <li>Fever</li>
            <li><a href="#">Hyperthyroidism</a></li>

        </ul>
        <p>Abnormal heart murmurs can be due to:</p>
        <ul>
            <li>Structural abnormalities of the heart valves (most common) - these may be congenital (present from birth). The structural abnormalities may also be acquired later in life. Examples include:</li>
            <ul>
                <li><a href="#">Mitral stenosis</a></li>
                <li><a href="#">Mitral regurgitation</a></li>
                <li><a href="#">Aortic stenosis</a></li>
                <li><a href="#">Aortic regurgitation</a></li>
                <li><a href="#">Tricuspid stenosis</a></li>
                <li><a href="#">Tricuspid regurgitation</a></li>
                <li><a href="#">Pulminory stenosis</a></li>
            </ul>
            <li>Abnormal holes or connections in the structure of the heart or vessels persisting after birth:
                <ul>
                    <li><a href="#">Septal defects</a> - connection between the heart's chambers</li>
                    <li><a href="#">Patent ductus-arteriosis</a> - connection between the major artery and vein near the heart</li>
                </ul>
            </li>
            <li>Structural abnormality of the heart muscle:
                <ul>
                    <li>Congenital defects (such as <a href="#">hypertrophic cardiomyopathy</a>)</li>
                    <li>Aquired (such as <a href="#">hypertrophic cardiomyopathy</a>)</li>

                </ul>
            </li>
            <li>Other congenital heart condistions, such as:
                <ul>
                    <li><a href="#">Coarctation of the aorta</a></li>
                    <li><a href="#">Hypoplastic left heart syndrome</a></li>
                    <li><a href="#">Ebstein's anomaly</a></li>
                    <li><a href="#">Tetralogy of Fallout</a></li>
                </ul>
            </li>
            <li><a href="#">Endocarditis</a> - infection of the inner lining of heart valves and chambers (endocardium)
</li>
            <li>Cardiac myxoma - a benign soft tumor within the heart (rare)</li>
        </ul>
        <hr>
        <h2>Risk Factors</h2>
        <p>Risk factors for normal heart murmurs include:</p>
        <ul>

            <li>Age: 3-7 years old </li>
            <li>Pregnancy</li>
        </ul>
        <p>Risk factors for abnormal heart murmurs include:</p>
        <ul>
            <li>Rheumatic fever</li>
            <li>Atherosclerosis</li>
            <li>High blood pressure</li>
            <li>Autoimmune disease</li>
            <li>Congenital heart defects or disease</li>
        </ul>
        <hr>
        <h2>Symptoms</h2>
        <p>Benign heart murmurs usually cause no symptoms. Patients with mitral valve prolapse sometimes complain of vague chest discomfort and other symptoms. It remains unclear whether or not the valvular abnormality is causing the symptoms.</p>
        <p>Signs and symptoms of abnormal heart murmurs can include:</p>
        <ul>
            <li>Rapid breathing or trouble breathing</li>
            <li>Blue lips (cyanosis)</li>
            <li>Light-headedness</li>
            <li>Chest pain</li>
            <li>Palpitations (feeling of rapid or irregular heartbeat)</li>
            <li>Exercise intolerance</li>
            <li>Failure-to-thrive in children</li>
        </ul>
        <h3>When Should I call My Doctor?</h3>
        <p>If you think that you or your child has a heart murmur, you should see the doctor.</p>
        <hr>
        <h2>Diagnosis</h2>
        <p>Most benign heart murmurs are diagnosed during the course of a routine physical exam with a stethoscope. Some abnormal heart murmurs are also discovered this way. Other abnormal heart murmurs are discovered initially by their symptoms.</p>
        <p>Tests may include:</p>
        <ul>
            <li><a href="#">Electrocardiogram (ECG)</a> - A test that records the heart's electrical activity using electrodes attached to the surface of the chest. This does not diagnose the cause of the murmur but can provide other useful information about the condition of the heart.</li>
            <li><a href="#">Chest x-ray</a> - An x-ray to determine the approximate size and shape of the heart, and the presence of associated lung swelling (pulmonary edema).</li>
            <li><a href="#">Echocardiogram</a> - A test that uses high-frequency sound waves (ultrasound) to examine the size, shape, and motion of the heart.</li>
            <li><a href="#">Cardiac catheterization</a> - A tube inserted into the heart through an artery (usually in the groin) to detect problems with the heart's structure, function, and blood supply.
                <ul>
                    <li>Blood tests - To check for evidence of a recurrent heart attack or other diseases that may affect the heart (such as kidney disease, infections, autoimmune conditions).</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h2>Treatment</h2>
        <p>Benign heart murmurs require no treatment. Treatment of other heart murmurs depends on the underlying cause and extent of the problem.</p>
        <p>Treatments include:</p>
        <h3>Medication</h3>
        <p>Medicines can either treat the cause of the heart abnormality associated with the murmur or help compensate for its dysfunction:</p>
        <ul>
            <li>Diuretics, angiotensin-converting enzyme inhibitors, digitalis - to treat heart failure</li>
            <li>Antibiotics - to prevent or treat endocarditis</li>
        </ul>
        <h3>Surgery</h3>
        <p>Surgery is often necessary to treat sever heart abnormalities:</p>
        <ul>
            <li>Replacement of defective heart valves with artificial ones</li>
            <li>Correction of congenital heart defects</li>
            <li>Removal of heart tumors</li>
        </ul>
        <hr>
        <h2>Prevention</h2>
        <p>Preventing benign heart murmurs is unnecessary. To help reduce your risk of developing an abnormal heart murmur:</p>
        <ul>
            <li>Get prompt testing and treatment for <a href="#">strep throat</a> to prevent rheumatic fever.</li>
            <li>Reduce your risk of atherosclerosis to help prevent valvular heart disease in the distant future. To do this:

                <ul>
                    <li>Eat a <a href="#">healthy diet</a> with plenty of <a href="#">fruits and vegetables</a>.</li>
                    <li>Get regular <a href="#">exercise</a>.</li>
                    <li>If you smoke, <a href="#">quit</a>.</li>
                    <li>If you have high blood pressure or diabetes, follow your treatment plan.</li>

                </ul>
            </li>

        </ul>
        <p>Although not routinely recommended for every type of heart murmur, you may need to take antibiotics before and after some medical or dental procedures that could allow bacteria to enter your bloodstream. Ask your doctor if you need to take preventive antibiotics.</p>
        <hr>
        <h3>Resources</h3>
        <p>
            American Heart Association<br />
            <a href="http://www.heart.org">http://www.heart.org</a>
        </p>
        <p>
            Heart Information Network
            <br />
            <a href="http://www.healthcentral.com">http://www.healthcentral.com</a>
        </p>
        <hr>
        <h3>Canadian Resources</h3>
        <p>
            Canadian Cardiovascular Society<br />
            <a href="http://www.ccs.ca">http://www.ccs.ca</a>
        </p>
        <p>
            Canadian Family Physician

            <br />
            <a href="http://www.cfpc.ca">http://www.cfpc.ca</a>
        </p>
        <hr>
        <h3>References</h3>
        <p>
            American Dental Association. Antibiotic prophylaxis. American Dental Association website. Available at: http://www.ada.org/2157.aspx. Accessed August 30, 2010.
        </p>
        <p>
            American Heart Association. New guidelines regarding antibiotics to prevent infective endocarditis. American Heart Association website. Available at: http://www.heart.org/HEARTORG/. Accessed August 30, 2010.
        </p>
        <p>
            Berkow R. The Merck Manual of Medical Information . New York, NY: Pocket; 2000.
        </p>
        <p>
            Heart murmur in children. EBSCO DynaMed website. Available at: https://dynamed.ebscohost.com/about/about-us. Updated October 17, 2011. Accessed February 9, 2012.
        </p>
        <p>
            Heart murmurs. American Heart Association website. Available at: . Accessed July 6, 2009.
        </p>
        <p>
            Heart murmurs. Mayo Clinic website. Available at: http://www.mayoclinic.com/health/heart-murmurs/DS00727. Updated April 9, 2010. Accessed February 9, 2012.
        </p>
        <p>
            Heart murmurs and your child. KidsHealth website. Available at: http://kidshealth.org/parent/medical/heart/murmurs.html. Updated August 2010. Accessed February 9, 2012.
        </p>
        <p>Medical dictionary: heart disease and stroke. Harvard Medical School Consumer Health Information website. Available at: https://www.health.harvard.edu/dictionary/heart-disease-stroke.htm . Accessed July 6, 2009.</p>
        <hr>
        <p>
            Last reviewed June 2012<br />
            Last Updated: 2/14/2013
        </p>
        <div class="disclaimer">
            <p>EBSCO Information Services is fully accredited by <a href="#">URAC</a>. URAC is an independent, nonprofit health care accrediting organization dedicated to promoting health care quality through accreditation, certification and commendation.</p>
            <p>This content is reviewed regularly and is updated when new and relevant evidence is made available. This information is neither intended nor implied to be a substitute for professional medical advice. Always seek the advice of your physician or other qualified health provider prior to starting any new treatment or with questions regarding a medical condition.</p>
            <p>To send comments or feedback to our Editorial Team regarding the content please email us at <a href="mailto:healthlibrarysupport@ebscohost.com">healthlibrarysupport@ebscohost.com</a></p>
        </div>

        <p>
            <a href="#">Copyright &copy; 2013 EBSCO Information Services</a><br />
            All rights reserved.
        </p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Editorial Policy</a></p>
    </section>
    <!-- END GENERAL PAGE CONTENT -->

    <!-- START RESOURCES -->
    <aside class="one-third resources">

        <div class="resource-button content">
            <h1 class="title">Call Us Today</h1>
            <h2 class="subtitle">513-585-2000</h2>

            <ul>
                <li><a href="">Refer a Patient</a></li>
                <li><a href="">Schedule an Appointment</a></li>
                <li><a href="">Find a Location</a></li>
            </ul>
        </div>

        <a href="/" class="resource-button orange">
            <img src="/assets/img/location/content_find_physician.png" alt="Looking for a physician?">
            <button class="label">Find a Physician</button>
        </a>

        <hr>
        <div class="heading-with-sub">
            <h1>Online Medical Records</h1>
            <h2>Login to MyChart</h2>
        </div>
        <span class="or-create-account">or <a href="/">Create An Account</a>
        </span>
        <hr>
    </aside>
    <!-- END RESOURCES -->
</div>
<div class="clear"></div>
