<div class="post-content-wrapper event-detail">
<section class="post-body">
    <div class="event-info">
        <div class="event-label">Date & Time:</div>
        <p class="event-content">
            Saturday, November 2, 2013<br />            11:00 AM - 1:00 PM<br />            <a href="">Add to Your Calendar</a>
        </p>
    </div>
    <div class="event-info">
        <div class="event-label">Location:</div>
        <p class="event-content">
            330 Thomas More Parkway, Ste. 201<br />            Crestview Hills, KY 41017<br />            <a href="">Maps & Directions</a>
        </p>
    </div>
    <div class="event-info">
        <div class="event-label">Contact:</div>
        <p class="event-content">
            513-222-2222
        </p>
    </div>
    <div class="event-info">
        <div class="event-label">Description:</div>
        <p class="event-content">
            Join The Christ Hospital Physicians - Obstetrics and Gynecology at a celebration of their new location in Crestview Hills. You can meet the OB/GYNs and Certified Nurse Midwives bringing better health to more people throughout Northern Kentucky. Come meet the staff, enjoy refreshments, free chair massages, raffles and door prizes. Registration not required; however, attendees who do register - at the event or online - will be eligible for prize drawings, including a $100 gift card to Crestview Hills Town Center. Register online in advance of the event, and your chances for prizes are doubled.
        </p>
    </div>
    <div class="event-info">
        <div class="event-label"></div>
        <p class="event-content">
            <a href="" class="button orange">Register Online</a>
        </p>
    </div>
</section>
    </div>