<div class="post-content-wrapper event-list">
    <section class="post-body">
        <div class="list-event">
            <h4>October 19, 2013</h4>
            <h2>Lamaze One-Day Course</h2>
            <p>
                Tempus pellentesque velit vel. Venenatis sed molestie vehicula. Sit leo eget pellentesque, proin urna amet proin rutrum, urna aliquam scelerisque, urna vitae amet aliquet etiam orci. Massa vestibulum lectus libero, amet luctus pellentesque nulla. Turpis velit. Non pretium pulvinar rem egestas et ut, sed velit montes justo tenetur in nostra, nunc nullam et eu, tellus porta.<br />
                <a href="#">Continue reading...</a>
            </p>

            <div class="event-info">
                <div class="event-label">Date & Time:</div>
                <p class="event-content">
                    Saturday, November 2, 2013<br />
                    11:00 AM - 1:00 PM
                </p>
            </div>
            <div class="event-info">
                <div class="event-label">Location:</div>
                <p class="event-content">
                    330 Thomas More Parkway, Ste. 201<br />
                    Crestview Hills, KY 41017
                </p>
            </div>
        </div>
        <hr>
        <div class="list-event">
            <h4>October 19, 2013</h4>
            <h2>Curious Couples Tour</h2>
            <p>
                Tempus pellentesque velit vel. Venenatis sed molestie vehicula. Sit leo eget pellentesque, proin urna amet proin rutrum, urna aliquam scelerisque, urna vitae amet aliquet etiam orci. Massa vestibulum lectus libero, amet luctus pellentesque nulla. Turpis velit. Non pretium pulvinar rem egestas et ut, sed velit montes justo tenetur in nostra, nunc nullam et eu, tellus porta.<br />
                <a href="#">Continue reading...</a>
            </p>

            <div class="event-info">
                <div class="event-label">Date & Time:</div>
                <p class="event-content">
                    Saturday, November 2, 2013<br />
                    11:00 AM - 1:00 PM
                </p>
            </div>
            <div class="event-info">
                <div class="event-label">Location:</div>
                <p class="event-content">
                    330 Thomas More Parkway, Ste. 201<br />
                    Crestview Hills, KY 41017
                </p>
            </div>
        </div>
        <hr>
        <div class="list-event">
            <h4>October 26, 2013</h4>
            <h2>Lamaze One-Day Course</h2>
            <p>
                Tempus pellentesque velit vel. Venenatis sed molestie vehicula. Sit leo eget pellentesque, proin urna amet proin rutrum, urna aliquam scelerisque, urna vitae amet aliquet etiam orci. Massa vestibulum lectus libero, amet luctus pellentesque nulla. Turpis velit. Non pretium pulvinar rem egestas et ut, sed velit montes justo tenetur in nostra, nunc nullam et eu, tellus porta.<br />
                <a href="#">Continue reading...</a>
            </p>

            <div class="event-info">
                <div class="event-label">Date & Time:</div>
                <p class="event-content">
                    Saturday, November 2, 2013<br />
                    11:00 AM - 1:00 PM
                </p>
            </div>
            <div class="event-info">
                <div class="event-label">Location:</div>
                <p class="event-content">
                    330 Thomas More Parkway, Ste. 201<br />
                    Crestview Hills, KY 41017
                </p>
            </div>
        </div>
        <a class="button blue load-more">Load More Events</a>
    </section>
</div>
